<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Users</h1>
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading">Loading...</span>
  </div>
</div>
<table class="table" id='tab'>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Surname</th>
    <th scope="col">Email</th>
    <th scope="col">Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order typeof orders">
    <td>{{ order.name }}</td>
    <td>{{ order.surname }}</td>
    <td>{{ order.email }}</td>
    <td>{{ order.status }}</td>
<!--    <td> <button (click)="Details(order.id)" class='btn btn-info' data-toggle="modal"-->
<!--                 data-target="#myModal">Details</button> </td>-->
  </tr>
  </tbody>
</table>
</body>
</html>
